Repository bhaskarkhoraja/care-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: add auth for next-auth in nest
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.module.ts
  apps/server/src/auth/auth.service.ts
Due: prettier --write, eslint --fix, eslint

chore: add axios, dotenv-cli and nodemailer
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: types for auth form with jsdocs
  apps/web/src/types/auth.ts
Due: prettier --write, eslint --fix, eslint

feat: auth database for next-auth
  apps/server/migrations/20240319160503_create_auth_tables.sql
Due: none

chore: remove old database schema
  apps/server/migrations/20240125143211_create_documents_table.sql
  apps/server/migrations/20240126105327_create_payment_gateways_table.sql
  apps/server/migrations/20240126144539_create_profiles_table.sql
  apps/server/migrations/20240126145530_create_addresses_table.sql
  apps/server/migrations/20240126150418_create_contacts_table.sql
  apps/server/migrations/20240126151038_create_credentials_table.sql
  apps/server/migrations/20240126151204_create_logs_table.sql
  apps/server/migrations/20240126151601_create_family_members_table.sql
  apps/server/migrations/20240126152108_create_special_needs_table.sql
  apps/server/migrations/20240126152349_create_service_requests_table.sql
  apps/server/migrations/20240126152919_create_service_request_members_table.sql
  apps/server/migrations/20240126153023_create_service_request_applications_table.sql
  apps/server/migrations/20240126153154_create_service_request_accepted_table.sql
  apps/server/migrations/20240128043201_create_messages_table.sql
  apps/server/migrations/20240128043406_create_old_messages_table.sql
Due: none

feat: error toast on email failed
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

refactor: seperate types
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

feat: show error message accordiong to error param
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

feat: nest adapter
  apps/web/src/app/api/auth/[...nextauth]/nest-adapter.ts
Due: prettier --write, eslint --fix, eslint

feat: next-auth api routes
  apps/web/src/app/api/auth/[...nextauth]/route.ts
Due: prettier --write, eslint --fix, eslint

refactor: rename env names
  .env.example
Due: none

fix: toast logic and capitalize first letter
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

feat: nodemailer env variable
  .env.example
  apps/web/src/lib/env.mjs
Due: prettier --write, eslint --fix, eslint

chore: add nodemailer and @react-email/render
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: email template for signup and login
  apps/web/src/emails/login.tsx
  apps/web/src/emails/signup.tsx
Due: prettier --write, eslint --fix, eslint

feat: implement send verification request
  apps/web/src/app/api/auth/[...nextauth]/route.ts
Due: prettier --write, eslint --fix, eslint

feat: endpoint to check verified email
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.service.ts
Due: prettier --write, eslint --fix, eslint

feat: admin role
  apps/server/migrations/20240319160503_create_auth_tables.sql
  apps/server/src/auth/auth.service.ts
Due: prettier --write, eslint --fix, eslint

perf: uuid instead of serial
  apps/server/migrations/20240319160503_create_auth_tables.sql
Due: none

refactor: seperate auth-option for admin role
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/nest-adapter.ts
Due: prettier --write, eslint --fix, eslint

fix: hmr not working
  apps/server/package.json
  apps/web/package.json
Due: prettier --write

feat: middleware to check auth-secret
  apps/server/src/app.module.ts
  apps/server/src/middlewares/auth.middleware.ts
Due: prettier --write, eslint --fix, eslint

chore: extend role in session
  apps/web/src/lib/auth.ts
  apps/web/src/types/declaration/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

chore: add jiti
  package.json
Due: prettier --write

feat: import env files as ts
  apps/web/next.config.js
  apps/web/src/config/site.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/env.ts
  apps/web/src/lib/nest-adapter.ts
Due: prettier --write, eslint --fix, eslint

refactor: move next-auth declaration to root
  types/lib/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

chore: add jiti, cookie-parser
  pnpm-lock.yaml
Due: none

feat: use new next-auth declaration
  apps/server/src/main.ts
  apps/web/src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

feat: use cookie parser
  apps/server/src/main.ts
Due: prettier --write, eslint --fix, eslint

chore: add cookie parser
  apps/server/package.json
Due: prettier --write

feat: export auth service
  apps/server/src/auth/auth.module.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove extended adapter user
  apps/server/src/auth/auth.service.ts
Due: prettier --write, eslint --fix, eslint

feat: admin and user middleware (#6)
  apps/server/src/app.module.ts
  apps/server/src/middlewares/admin.middleware.ts
  apps/server/src/middlewares/user.middleware.ts
Due: prettier --write, eslint --fix, eslint

docs: add jsdoc for auth middleware
  apps/server/src/middlewares/auth.middleware.ts
Due: prettier --write, eslint --fix, eslint

feat: extend user in express request
  apps/server/types/lib/global.d.ts
Due: prettier --write, eslint --fix, eslint

refactor: change auth.ts to next-auth-error
  apps/web/src/app/(account)/_components/auth-form.tsx
  apps/web/src/types/next-auth-error.ts
Due: prettier --write, eslint --fix, eslint

feat: add @types as path
  tsconfig.json
Due: prettier --write

refactor: import next-auth in global.d.ts
  apps/server/src/main.ts
  apps/server/types/lib/global.d.ts
  apps/web/src/app/layout.tsx
  apps/web/src/types/lib/global.d.ts
Due: prettier --write, eslint --fix, eslint

feat: client side admin and user middleware (#6)
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix, eslint

fix: invalid url redirection
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,mjs}) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,css,mjs}
  eslint: any of: *.{js,jsx,ts,tsx,css,mjs}
