Repository bhaskarkhoraja/care-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: get refresh token from google
  apps/web/src/lib/auth.ts
Due: prettier --write, eslint --fix, eslint

fix: picture key instead of image
  apps/web/src/lib/auth.ts
Due: prettier --write, eslint --fix, eslint

feat: add completed profile
  apps/server/migrations/20240319160503_create_auth_tables.sql
  types/lib/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

feat: database schema
  apps/server/migrations/20240330113356_create_profiles_table.sql
  apps/server/migrations/20240330114237_create_documents_table.sql
  apps/server/migrations/20240330114555_create_countries_table.sql
  apps/server/migrations/20240330114705_create_addresses_table.sql
  apps/server/migrations/20240330120314_create_contacts_table.sql
  apps/server/migrations/20240330120614_create_family_members_table.sql
  apps/server/migrations/20240330121009_create_special_needs_table.sql
  apps/server/migrations/20240330121032_create_service_requests_table.sql
  apps/server/migrations/20240330121044_create_service_requests_members_table.sql
  apps/server/migrations/20240330121056_create_service_requests_applications_table.sql
  apps/server/migrations/20240330122042_create_service_requests_accepted_table.sql
  apps/server/migrations/20240330122208_create_messages_table.sql
Due: none

docs: description of tables and columns
  apps/server/migrations/20240319160503_create_auth_tables.sql
Due: none

feat: complete-profile page middleware
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix, eslint

feat: toggle mode in auth page
  apps/web/src/app/(account)/auth/login/page.tsx
  apps/web/src/app/(account)/auth/signup/page.tsx
Due: prettier --write, eslint --fix, eslint

refactor: move middleware inside lib
  apps/server/src/app.module.ts
  apps/server/src/lib/middlewares/admin.middleware.ts
  apps/server/src/lib/middlewares/auth.middleware.ts
  apps/server/src/lib/middlewares/user.middleware.ts
Due: prettier --write, eslint --fix, eslint

refactor: user server as paths not src
  apps/server/src/app.module.ts
  apps/server/src/lib/middlewares/admin.middleware.ts
  apps/server/src/lib/middlewares/auth.middleware.ts
  apps/server/src/lib/middlewares/user.middleware.ts
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

chore: ignore .contentlayer
  apps/web/.gitignore
Due: none

chore: packages for using mdx
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: configure contentlayer and mdx
  apps/web/contentlayer.config.js
  apps/web/src/styles/mdx.css
Due: prettier --write, eslint --fix, eslint

feat: mdx component
  apps/web/src/components/mdx-components.tsx
Due: prettier --write, eslint --fix, eslint

feat: absolute url func
  apps/web/src/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

feat: terms and privacy mdx
  apps/web/src/content/pages/privacy.mdx
  apps/web/src/content/pages/terms.mdx
Due: none

feat: implement mdx page, closes (#8)
  apps/web/src/app/(marketing)/[...slug]/page.tsx
Due: prettier --write, eslint --fix, eslint

fix: pass env to lint
  apps/web/package.json
Due: prettier --write

chore: disable import alias warning
  apps/web/contentlayer.config.js
Due: prettier --write, eslint --fix, eslint

refactor: moved format and is-date to utils
  apps/web/src/lib/nest-adapter.ts
  apps/web/src/lib/utils.ts
Due: prettier --write, eslint --fix, eslint

fix: error during build time due to edge
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix, eslint

chore: update packages
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove typed root
  apps/web/next.config.js
Due: prettier --write, eslint --fix, eslint

fix: missing error dependency
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

fix: fraction instead of arbitary numbers
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/input.tsx
Due: prettier --write, eslint --fix, eslint

refactor: remove unused import
  apps/web/src/components/layout/mobile-nav.tsx
Due: prettier --write, eslint --fix, eslint

feat: use env in production
  apps/web/package.json
Due: prettier --write

fix: rollback to previous pg and @types/pg
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: userSearchParams must be wrapped with suspense
  apps/web/src/app/(account)/auth/login/page.tsx
  apps/web/src/app/(account)/auth/signup/page.tsx
Due: prettier --write, eslint --fix, eslint

feat: user decorator (#9)
  apps/server/src/lib/decorators/user.decorator.ts
Due: prettier --write, eslint --fix, eslint

feat: get current user wrapper
  apps/web/src/lib/session.ts
Due: prettier --write, eslint --fix, eslint

fix: missing types in next-auth
  types/lib/next-auth.d.ts
Due: prettier --write, eslint --fix, eslint

fix: redirect to user page is success
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

feat: user-account-nav component
  apps/web/src/components/user-account-nav.tsx
Due: prettier --write, eslint --fix, eslint

feat: show user account nav if loggedin
  apps/web/src/components/layout/site-header.tsx
Due: prettier --write, eslint --fix, eslint

feat: minimal member layout
  apps/web/src/app/(member)/layout.tsx
Due: prettier --write, eslint --fix, eslint

style: change size and fallback bg
  apps/web/src/components/ui/avatar.tsx
Due: prettier --write, eslint --fix, eslint

style: show proper ring around avatar
  apps/web/src/components/user-account-nav.tsx
Due: prettier --write, eslint --fix, eslint

refactor: comment out copyright
  apps/web/src/components/layout/site-footer.tsx
Due: prettier --write, eslint --fix, eslint

style: change bg and fg of indicator
  apps/web/src/components/tailwind-indicator.tsx
Due: prettier --write, eslint --fix, eslint

fix: complete profile not opening
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,mjs}) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,css,mjs}
  eslint: any of: *.{js,jsx,ts,tsx,css,mjs}
