Repository bhaskarkhoraja/care-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,mjs}": ["prettier --write", "eslint --fix", "eslint"],
  "*.json": ["prettier --write"]
}

chore: add sqlx-ts
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: initial database migration
  apps/server/migrations/20240125143211_create_documents_table.sql
  apps/server/migrations/20240126105327_create_payment_gateways_table.sql
  apps/server/migrations/20240126144539_create_profiles_table.sql
  apps/server/migrations/20240126145530_create_addresses_table.sql
  apps/server/migrations/20240126150418_create_contacts_table.sql
  apps/server/migrations/20240126151038_create_credentials_table.sql
  apps/server/migrations/20240126151204_create_logs_table.sql
  apps/server/migrations/20240126151601_create_family_members_table.sql
  apps/server/migrations/20240126152108_create_special_needs_table.sql
  apps/server/migrations/20240126152349_create_service_requests_table.sql
  apps/server/migrations/20240126152919_create_service_request_members_table.sql
  apps/server/migrations/20240126153023_create_service_request_applications_table.sql
  apps/server/migrations/20240126153154_create_service_request_accepted_table.sql
  apps/server/migrations/20240128043201_create_messages_table.sql
  apps/server/migrations/20240128043406_create_old_messages_table.sql
Due: none

feat: has recieved in migration
  apps/server/migrations/20240128043201_create_messages_table.sql
Due: none

feat: default verified profile null
  apps/server/migrations/20240125143211_create_documents_table.sql
Due: none

feat: use env*.local instead of .env
  .gitignore
Due: none

feat: example env for server
  apps/server/.env.example
Due: none

feat: otp and verified at
  apps/server/migrations/20240126144539_create_profiles_table.sql
  apps/server/migrations/20240126150418_create_contacts_table.sql
Due: none

chore: only ignore .env
  .gitignore
Due: none

chore: package update
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: use mjs and config tailwind
  apps/web/tailwind.config.mjs
  apps/web/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

chore: use mjs
  apps/web/next.config.mjs
Due: prettier --write, eslint --fix, eslint

fix: module not defined ES module scope
  apps/web/next.config.mjs
Due: prettier --write, eslint --fix, eslint

feat: remove consoles in production
  apps/web/next.config.mjs
Due: prettier --write, eslint --fix, eslint

chore: update package
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: unknown compiler option 'exclude'
  tsconfig.json
Due: prettier --write

chore: remove t3-oss/env-core
  apps/server/package.json
Due: prettier --write

feat: custom validation for env
  apps/server/src/app.module.ts
  apps/server/src/lib/env.validation.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove empty lines
  apps/server/tsconfig.json
Due: prettier --write

chore: remove env-core and install env-next
  pnpm-lock.yaml
Due: none

chore: support t3-env (esm only)
  apps/web/package.json
  apps/web/tsconfig.json
Due: prettier --write

chore: install env-next and zod
  apps/web/package.json
Due: prettier --write

feat: use t3 env
  apps/web/.env.example
  apps/web/next.config.js
  apps/web/postcss.config.mjs
  apps/web/src/env.mjs
Due: prettier --write, eslint --fix, eslint

refactor: use tailwind.config.ts
  apps/web/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

chore: add clsx, tw-merge and class-variance-authority
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: move env.mjs to lib
  apps/web/next.config.js
  apps/web/src/lib/env.mjs
Due: prettier --write, eslint --fix, eslint

chore: preparing for using shadcn
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/lib/utils.ts
  apps/web/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: use geist as main font
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: add web and server url
  apps/web/.env.example
  apps/web/src/lib/env.mjs
Due: prettier --write, eslint --fix, eslint

refactor: change client to web-env
  apps/web/src/lib/env.mjs
Due: prettier --write, eslint --fix, eslint

feat: favicon and og
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/favicon.ico
  apps/web/public/favicon_io.zip
  apps/web/public/icons/Logo Full.svg
  apps/web/public/icons/Logo Short.svg
  apps/web/public/next.svg
  apps/web/public/og.jpg
  apps/web/public/site.webmanifest
  apps/web/public/vercel.svg
  apps/web/src/app/favicon.ico
  apps/web/src/app/layout.tsx
  apps/web/src/config/site.ts
Due: prettier --write, eslint --fix, eslint

fix: tailwind not working
  apps/web/postcss.config.cjs
Due: none

fix: geist font not working
  apps/web/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

feat: new animation and variables
  apps/web/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

refactor: move global.css to styles
  apps/web/src/app/layout.tsx
  apps/web/src/styles/globals.css
Due: prettier --write, eslint --fix, eslint

feat: reusable component with shadcn
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/accordion.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/breadcrumb.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/carousel.tsx
  apps/web/src/components/ui/checkbox.tsx
  apps/web/src/components/ui/command.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/drawer.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/ui/hover-card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/navigation-menu.tsx
  apps/web/src/components/ui/pagination.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/components/ui/radio-group.tsx
  apps/web/src/components/ui/scroll-area.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/sonner.tsx
  apps/web/src/components/ui/switch.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/tooltip.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

refactor: rearrange web imports
  prettier.config.js
Due: prettier --write, eslint --fix, eslint
