Repository bhaskarkhoraja/care-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: hide navigation when complete_profile is false
  apps/web/src/components/layout/site-header.tsx
  apps/web/src/components/user-account-nav.tsx
Due: prettier --write, eslint --fix, eslint

feat: add top loader
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

fix: typo app name
  apps/web/src/content/pages/privacy.mdx
Due: none

feat: redirect to user page after login
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

chore: env for upload thing
  .env.example
Due: none

feat: validate env for upload thing
  apps/web/src/lib/env.ts
Due: prettier --write, eslint --fix, eslint

feat: uploadthing
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: peer dependency issue
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: upload thing config
  apps/web/src/app/api/uploadthing/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/lib/uploadthing/core.ts
  apps/web/src/lib/uploadthing/uploadthing.ts
Due: prettier --write, eslint --fix, eslint

style: change font family and size
  apps/web/src/components/tailwind-indicator.tsx
Due: prettier --write, eslint --fix, eslint

feat: page not found
  apps/web/src/app/not-found.tsx
Due: prettier --write, eslint --fix, eslint

feat: back button for several pages
  apps/web/src/components/layout/back-button.tsx
Due: prettier --write, eslint --fix, eslint

feat: navigate to previous page instead of home
  apps/web/src/app/not-found.tsx
Due: prettier --write, eslint --fix, eslint

feat: error page
  apps/web/src/app/error.tsx
Due: prettier --write, eslint --fix, eslint

style: align icon center
  apps/web/src/components/layout/back-button.tsx
Due: prettier --write, eslint --fix, eslint

feat: back button for auth page
  apps/web/src/app/(account)/auth/login/page.tsx
  apps/web/src/app/(account)/auth/signup/page.tsx
Due: prettier --write, eslint --fix, eslint

chore: cleanup code
  .env.example
Due: none

feat: collapsible component
  apps/web/package.json
  apps/web/src/components/ui/collapsible.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

chore: remove logo from footer
  apps/web/src/components/layout/site-footer.tsx
Due: prettier --write, eslint --fix, eslint

fix: link address to country table
  apps/server/migrations/20240330114705_create_addresses_table.sql
Due: none

chore: change column name profile_url
  apps/server/migrations/20240330113356_create_profiles_table.sql
Due: none

chore: remove iso_code
  apps/server/migrations/20240330114555_create_countries_table.sql
Due: none

chore: ignore seeder file
  .gitignore
Due: none

style: ring offset background
  apps/web/src/components/ui/input.tsx
Due: prettier --write, eslint --fix, eslint

chore: show cursor pointer in options
  apps/web/src/components/ui/select.tsx
Due: prettier --write, eslint --fix, eslint

style: text-xs for form message
  apps/web/src/components/ui/form.tsx
Due: prettier --write, eslint --fix, eslint

fix: input tag not focusing inside form shadcn
  apps/web/src/components/ui/input.tsx
Due: prettier --write, eslint --fix, eslint

refactor: change complete-profile url
  apps/web/src/middleware.ts
Due: prettier --write, eslint --fix, eslint

style: ring for focus state
  apps/web/src/components/ui/popover.tsx
Due: prettier --write, eslint --fix, eslint

feat: year and month dropdown
  apps/web/src/components/ui/calendar.tsx
Due: prettier --write, eslint --fix, eslint

feat: button styled as input tag
  apps/web/src/components/ui/button-input.tsx
Due: prettier --write, eslint --fix, eslint

refactor: use props.id as associate tag
  apps/web/src/components/ui/input.tsx
Due: prettier --write, eslint --fix, eslint

fix: button not getting clicked on label click
  apps/web/src/components/ui/button-input.tsx
Due: prettier --write, eslint --fix, eslint

refactor: remove association tag
  apps/web/src/app/(account)/_components/auth-form.tsx
Due: prettier --write, eslint --fix, eslint

fix: invalid redirect login url
  apps/web/src/components/user-account-nav.tsx
Due: prettier --write, eslint --fix, eslint

refactor: remome user_contact type
  apps/server/migrations/20240330120314_create_contacts_table.sql
Due: none

chore: update package and install uploadthing
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: stepper component
  apps/web/src/components/stepper-form-action.tsx
  apps/web/src/components/ui/stepper.tsx
  apps/web/tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

style: hide input number arrow
  apps/web/src/styles/globals.css
Due: prettier --write, eslint --fix, eslint

feat: max and min 1 file with cleanup console
  apps/web/src/lib/uploadthing/core.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,mjs}) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,css,mjs}
  eslint: any of: *.{js,jsx,ts,tsx,css,mjs}
