Repository bhaskarkhoraja/care-bridge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

feat: build and start from root
  package.json
Due: prettier --write

fix: remove parallel building
  package.json
Due: prettier --write

test: api-contract build in vercel
  package.json
  packages/api-contract/package.json
Due: prettier --write

fix: build on vercel server
  package.json
Due: prettier --write

feat: age must be greater than 18
  apps/web/src/app/(member)/user/profile/[...slug]/_components/personal-info-form.tsx
Due: prettier --write, eslint --fix, eslint

fix: total_sales and total_bought not working properly
  apps/server/src/app/user/user.service.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove table caption
  apps/web/src/app/(member)/admin/_components/recent-sales.tsx
Due: prettier --write, eslint --fix, eslint

chore: update packages
  pnpm-lock.yaml
Due: none

docs: import database
  README.md
Due: none

refactor: change url in user nav for billing
  apps/web/src/components/user-account-nav.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

feat: vercel.json for hosting in vercel
  apps/server/vercel.json
  pnpm-lock.yaml
Due: prettier --write

feat: no frozen lock
  pnpm-lock.yaml
Due: none

fix: add missing methods
  apps/server/vercel.json
Due: prettier --write

refactor: remove vercel.json
  apps/server/vercel.json
Due: prettier --write

fix: fix undefined recent completed
  apps/server/src/app/admin/admin.service.ts
Due: prettier --write, eslint --fix, eslint

feat: seeding countries
  README.md
  apps/server/migrations/20240330114555_create_countries_table.sql
  apps/server/src/utils/countrySeeder.ts
Due: prettier --write, eslint --fix, eslint

fix: uploadthing not working on dev
  apps/web/src/app/api/uploadthing/route.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,mjs}) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,css,mjs}
  eslint: any of: *.{js,jsx,ts,tsx,css,mjs}
